In [1]:
import pandas as pd
import os

In [2]:
data_folders = [
    './2020/weather_per_region',
    './2021/weather_per_region',
    './2022/weather_per_region',
    './2023/weather_per_region',
    './2024/weather_per_region',
    './2025/weather_per_region',
]

In [3]:
all_data = []

# Loop through each folder
for folder in data_folders:
    if not os.path.exists(folder):
        print(f"[WARNING] Folder not found: {folder}")
        continue

    for file in os.listdir(folder):
        if file.endswith('.csv'):
            file_path = os.path.join(folder, file)
            try:
                df = pd.read_csv(file_path)
                all_data.append(df)
            except Exception as e:
                print(f"[ERROR] Failed to read {file_path}: {e}")

In [4]:
# Combine all data
merged_df = pd.concat(all_data, ignore_index=True)

In [5]:
merged_df.head()

,datetime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,moonphase,conditions,description,icon,stations,source,Kecamatan,tzoffset,severerisk,wdatetime
0,2020-01-01,1577811600,31.1,20.6,24.8,36.9,20.6,26.0,22.0,85.6,...,0.19,"Rain, Partially cloudy",Partly cloudy throughout the day with rain in ...,rain,"['96073099999', 'remote']",obs,Angkola Timur,NaN,NaN,NaN
1,2020-01-02,1577898000,33.2,19.2,24.7,39.3,19.2,25.8,21.2,82.5,...,0.22,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"['96073099999', 'remote']",obs,Angkola Timur,NaN,NaN,NaN
2,2020-01-03,1577984400,31.7,20.8,24.4,39.6,20.8,25.5,22.3,88.7,...,0.25,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"['96073099999', 'remote']",obs,Angkola Timur,NaN,NaN,NaN
3,2020-01-04,1578070800,31.2,20.4,24.4,39.1,20.4,25.5,22.0,87.3,...,0.29,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,rain,"['96073099999', 'remote']",obs,Angkola Timur,NaN,NaN,NaN
4,2020-01-05,1578157200,31.2,20.6,25.0,37.4,20.6,26.2,22.0,84.7,...,0.32,"Rain, Partially cloudy",Partly cloudy throughout the day with early mo...,rain,"['96073099999', 'remote']",obs,Angkola Timur,NaN,NaN,NaN

In [6]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408416 entries, 0 to 408415
Data columns (total 39 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   datetime        407444 non-null  object
 1   datetimeEpoch   408416 non-null  int64
 2   tempmax         408416 non-null  float64
 3   tempmin         408416 non-null  float64
 4   temp            408416 non-null  float64
 5   feelslikemax    408416 non-null  float64
 6   feelslikemin    408416 non-null  float64
 7   feelslike       408416 non-null  float64
 8   dew             408416 non-null  float64
 9   humidity        408416 non-null  float64
 10  precip          408416 non-null  float64
 11  precipprob      408416 non-null  float64
 12  precipcover     408416 non-null  float64
 13  preciptype      368335 non-null  object
 14  snow            408416 non-null  float64
 15  snowdepth       408301 non-null  float64
 16  windgust        408416 non-null  float64
 17  windspeed       408416 non-null  float64
 18  winddir         408416 non-null  float64
 19  pressure        408416 non-null  float64
 20  cloudcover      408416 non-null  float64
 21  visibility      366680 non-null  float64
 22  solarradiation  408413 non-null  float64
 23  solarenergy     408413 non-null  float64
 24  uvindex         408413 non-null  float64
 25  sunrise         408416 non-null  object
 26  sunriseEpoch    408416 non-null  int64
 27  sunset          408416 non-null  object
 28  sunsetEpoch     408416 non-null  int64
 29  moonphase       408416 non-null  float64
 30  conditions      408416 non-null  object
 31  description     408416 non-null  object
 32  icon            408416 non-null  object
 33  stations        408416 non-null  object
 34  source          408416 non-null  object
 35  Kecamatan       408416 non-null  object
 36  tzoffset        3306 non-null    float64
 37  severerisk      222866 non-null  float64
 38  wdatetime       972 non-null     object
dtypes: float64(25), int64(3), object(11)
memory usage: 121.5+ MB

In [7]:
# Rows where datetime is missing
missing_dt_rows = merged_df[merged_df['datetime'].isnull()]
missing_dt_rows.head()

,datetime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,moonphase,conditions,description,icon,stations,source,Kecamatan,tzoffset,severerisk,wdatetime
278288,NaN,1704042000,23.2,16.1,19.1,23.2,16.1,19.1,17.3,89.7,...,0.67,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,['remote'],obs,Puteri Betung,NaN,30.0,2024-01-01
278289,NaN,1704128400,23.5,16.4,19.2,23.5,16.4,19.2,17.2,89.0,...,0.70,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,['remote'],obs,Puteri Betung,NaN,30.0,2024-01-02
278290,NaN,1704214800,21.7,16.1,18.5,21.7,16.1,18.5,17.4,93.1,...,0.73,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,['remote'],obs,Puteri Betung,NaN,10.0,2024-01-03
278291,NaN,1704301200,23.5,15.0,18.4,23.5,15.0,18.4,16.7,90.2,...,0.75,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,['remote'],obs,Puteri Betung,NaN,10.0,2024-01-04
278292,NaN,1704387600,22.5,15.7,18.8,22.5,15.7,18.8,16.3,86.2,...,0.80,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,['remote'],obs,Puteri Betung,NaN,10.0,2024-01-05

Rows yang 'datetime' null memiliki informasi datetime di kolom 'wdatetime'

In [8]:
# Fill datetime with wdatetime where datetime is missing
merged_df['datetime'] = merged_df['datetime'].fillna(merged_df['wdatetime'])

# Drop 'wdatetime' because it is no longer needed
merged_df = merged_df.drop(columns=['wdatetime', 'tzoffset'], errors='ignore')

# Change data type to datetime
merged_df['datetime'] = pd.to_datetime(merged_df['datetime'])

In [9]:
print(merged_df.isnull().sum())

datetime               0
datetimeEpoch          0
tempmax                0
tempmin                0
temp                   0
feelslikemax           0
feelslikemin           0
feelslike              0
dew                    0
humidity               0
precip                 0
precipprob             0
precipcover            0
preciptype         40081
snow                   0
snowdepth            115
windgust               0
windspeed              0
winddir                0
pressure               0
cloudcover             0
visibility         41736
solarradiation         3
solarenergy            3
uvindex                3
sunrise                0
sunriseEpoch           0
sunset                 0
sunsetEpoch            0
moonphase              0
conditions             0
description            0
icon                   0
stations               0
source                 0
Kecamatan              0
severerisk        185550
dtype: int64

In [10]:
# Drop preciptype column because we need day by day data thus cannot drop null
# There is 'condition' column to tell the weather, so preciptype can be dropped
merged_df.drop(columns='preciptype', inplace=True)

Fill na in columns that might be important, so they can't be dropped

In [11]:
# Visibility column
# Set 'datetime' as index temporarily
merged_df_interp = merged_df.set_index('datetime')

# Interpolate 'visibility' using time method
merged_df_interp['visibility'] = merged_df_interp['visibility'].interpolate(method='time')

# Reset index to bring 'datetime' back as a column
merged_df = merged_df_interp.reset_index()

In [12]:
# List of columns to fill
columns_to_fill = ['severerisk', 'snowdepth', 'solarradiation', 'uvindex', 'solarenergy']

# Apply forward fill then backward fill
for col in columns_to_fill:
    merged_df[col] = merged_df[col].ffill().bfill()

In [13]:
merged_df.isnull().sum()

datetime          0
datetimeEpoch     0
tempmax           0
tempmin           0
temp              0
feelslikemax      0
feelslikemin      0
feelslike         0
dew               0
humidity          0
precip            0
precipprob        0
precipcover       0
snow              0
snowdepth         0
windgust          0
windspeed         0
winddir           0
pressure          0
cloudcover        0
visibility        0
solarradiation    0
solarenergy       0
uvindex           0
sunrise           0
sunriseEpoch      0
sunset            0
sunsetEpoch       0
moonphase         0
conditions        0
description       0
icon              0
stations          0
source            0
Kecamatan         0
severerisk        0
dtype: int64

In [14]:
# Get the day, month, weekday, and year information
merged_df['day'] = merged_df['datetime'].dt.day
merged_df['month'] = merged_df['datetime'].dt.month
merged_df['weekday'] = merged_df['datetime'].dt.weekday
merged_df['year'] = merged_df['datetime'].dt.year

In [15]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408416 entries, 0 to 408415
Data columns (total 40 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   datetime        408416 non-null  datetime64[ns]
 1   datetimeEpoch   408416 non-null  int64
 2   tempmax         408416 non-null  float64
 3   tempmin         408416 non-null  float64
 4   temp            408416 non-null  float64
 5   feelslikemax    408416 non-null  float64
 6   feelslikemin    408416 non-null  float64
 7   feelslike       408416 non-null  float64
 8   dew             408416 non-null  float64
 9   humidity        408416 non-null  float64
 10  precip          408416 non-null  float64
 11  precipprob      408416 non-null  float64
 12  precipcover     408416 non-null  float64
 13  snow            408416 non-null  float64
 14  snowdepth       408416 non-null  float64
 15  windgust        408416 non-null  float64
 16  windspeed       408416 non-null  float64
 17  winddir         408416 non-null  float64
 18  pressure        408416 non-null  float64
 19  cloudcover      408416 non-null  float64
 20  visibility      408416 non-null  float64
 21  solarradiation  408416 non-null  float64
 22  solarenergy     408416 non-null  float64
 23  uvindex         408416 non-null  float64
 24  sunrise         408416 non-null  object
 25  sunriseEpoch    408416 non-null  int64
 26  sunset          408416 non-null  object
 27  sunsetEpoch     408416 non-null  int64
 28  moonphase       408416 non-null  float64
 29  conditions      408416 non-null  object
 30  description     408416 non-null  object
 31  icon            408416 non-null  object
 32  stations        408416 non-null  object
 33  source          408416 non-null  object
 34  Kecamatan       408416 non-null  object
 35  severerisk      408416 non-null  float64
 36  day             408416 non-null  int32
 37  month           408416 non-null  int32
 38  weekday         408416 non-null  int32
 39  year            408416 non-null  int32
dtypes: datetime64[ns](1), float64(24), int32(4), int64(3), object(8)
memory usage: 118.4+ MB

In [16]:
# Lowercase the column names and the values for consistency
merged_df.columns = merged_df.columns.str.lower()
merged_df = merged_df.apply(lambda x: x.str.lower() if x.dtype == "object" else x)

In [19]:
# Last check
merged_df.head()

,datetime,datetimeepoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,description,icon,stations,source,kecamatan,severerisk,day,month,weekday,year
0,2020-01-01,1577811600,31.1,20.6,24.8,36.9,20.6,26.0,22.0,85.6,...,partly cloudy throughout the day with rain in ...,rain,"['96073099999', 'remote']",obs,angkola timur,10.0,1,1,2,2020
1,2020-01-02,1577898000,33.2,19.2,24.7,39.3,19.2,25.8,21.2,82.5,...,partly cloudy throughout the day with late aft...,rain,"['96073099999', 'remote']",obs,angkola timur,10.0,2,1,3,2020
2,2020-01-03,1577984400,31.7,20.8,24.4,39.6,20.8,25.5,22.3,88.7,...,partly cloudy throughout the day with late aft...,rain,"['96073099999', 'remote']",obs,angkola timur,10.0,3,1,4,2020
3,2020-01-04,1578070800,31.2,20.4,24.4,39.1,20.4,25.5,22.0,87.3,...,partly cloudy throughout the day with afternoo...,rain,"['96073099999', 'remote']",obs,angkola timur,10.0,4,1,5,2020
4,2020-01-05,1578157200,31.2,20.6,25.0,37.4,20.6,26.2,22.0,84.7,...,partly cloudy throughout the day with early mo...,rain,"['96073099999', 'remote']",obs,angkola timur,10.0,5,1,6,2020

In [20]:
# Save merged file
merged_df.to_csv('merged_weather.csv', index=False)
print("[DONE] All weather data merged into 'merged_weather.csv'")

[DONE] All weather data merged into 'merged_weather.csv'